<input type="text" id="datepicker" size="6" readonly />
<button type="button" id="sync">sync</button>
<button type="button" id="update">update</button>
<br />
<textarea id="status" rows="5" cols="50" readonly></textarea>
<div id="table"></div>
